$font-title: 'Bricolage Grotesque',
sans-serif;
$font-subtitle: 'Poppins',
sans-serif;

$primary-100:#c21d03;
$primary-200:#fd5732;
$primary-300:#ffb787;
$accent-100:#393939;
$accent-200:#bebebe;
$text-100:#232121;
$text-200:#4b4848;
$bg-100:#fbfbfb;
$bg-200:#f1f1f1;
$bg-300:#c8c8c8;

$primary-dark-100:#2E8B57;
$primary-dark-200:#61bc84;
$primary-dark-300:#c6ffe6;
$accent-dark-100:#8FBC8F;
$accent-dark-200:#345e37;
$text-dark-100:#FFFFFF;
$text-dark-200:#e0e0e0;
$bg-dark-100:#1E1E1E;
$bg-dark-200:#2d2d2d;
$bg-dark-300:#454545;



$margin-header: 15vh;
$padding-container: 5rem 8rem;