@import "./utils/global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: $font-subtitle;

  &.dark-mode {
    background-color: $bg-dark-100;
  }
}

.portfolio {
  width: 100%;
  height: 100vh;
}